<div style="margin: 10rem auto;width: 10rem">
  <h3>Wicked PDF test</h3>
  <%= select_tag :number, options_for_select((1..10).to_a, 5), id: 'select' %>
  <button class="generate-pdfs" onclick="generateRequest()">Generate PDF's</button>
  <br>
  <br>
  Kindly allow popup's to test this

  <ul>
    <% Pdf.all.order(created_at: :desc).each do |pdf| %>
      <li><%= link_to pdf.name, rails_blob_path(pdf.file), target: '_blank' %></li>
    <% end %>
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
  function generateRequest() {
    xhttp = new XMLHttpRequest();
    number = parseInt(document.getElementById('select').value)
    url = '/home.js?index=' + number + 'background=' + true
    xhttp.open("GET", url, true);
    xhttp.send();
  }
</script>
